* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #004aad;
  --color-secondary: #2ecc71; 
  --font-primary: 'Arial', sans-serif;
  --font-secondary: 'Courier New', monospace;
}
body{
  background-color: var(--color-primary);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  /* border : 2px solid red ;  */
  background-color: white;
}

.nav-logo-container {
}

.nav-logo-link {
}

.nav-logo-img {
  height: 3rem;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  padding: .5rem 1rem;
  
}

.nav-link {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  font-family: var(--font-primary);
  display: inline-block;
  /* border : 2px solid red ; */
  padding: .5rem; 
  transition: .3s all;
  position: relative;

}
.nav-link::after{
  content: "";
  display: inline-block;
  width: 0%;
  height: 4px;
  padding: 0;
  position: absolute;
  /* top: -5px; */
  left: 0;
  bottom: 0;
  background-color: var(--color-primary);
  transition: .1s all ease-out;


}
.nav-link:hover::after {
  width: 100%;
  
}
