* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #004aad;
  /* --color-secondary: #2ecc71; */
  --font-primary: "Arial", sans-serif;
}

/* color  */

/*

#1e293b – dark slate blue (main background)

#0f172a – deep navy (header/footer)

#0e1629 – dark blue-black tone

#172033 – muted steel blue

#1c2739 – dark cool blue-gray

#192335 – deep steel tone

#141d30 – almost black-blue

#161f32 – near midnight blue

#182234 – another dark navy variant

#162032 – subtle variant of the above

*/